@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap');

* {
	margin : 0px;
	padding : 0px;
}

body 
{
  background :white;
}

header {
	background-color : #212121;
	border-bottom : 8px solid #ff9d00;
	padding-left : 40px;
	
}

.menu 
{
	font-family: 'Ubuntu', sans-serif;
	color : white;
	font-size: 40px;
	margin : 20px;
	margin-left:8%;
}

.main 
{
	margin-left: 15%;
	margin-right: 15%;
    width: 70%;
	padding: 20px;
	background-color : #fafafa;
	border-left : 1px solid #f2f2f2;
	border-right : 1px solid #f2f2f2;
}

h1 
{
	font-family: 'Ubuntu', sans-serif;
	font-size:28px;
	background-color :	 #595959;
	color : white;
	padding : 4px;
	padding-bottom: 8px;
}

h1::first-letter {
  color : #ff9d00;
}

p 
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:20px;
	color : black;
<<<<<<< HEAD
	white-space : pre;
=======
	
>>>>>>> 061cdc2284dcc31f79a06dd534ea1c8546848c33
}

h2 
{
	font-family: 'Ubuntu', sans-serif;
	font-size:20px;
	color : black;
	padding-top:10px;
	padding-bottom:6px;
	border-bottom : 2px solid #c2c2c2;
}

img 
{
	float:left;
    margin: 7px 7px 7px 7px;
	border-radius : 5px;
	transition: all 0.5s ease-out;
	border:3px solid #666666;
}

.code 
{
	background-color : #f0f0f0;
	font-family: 'Source Code Pro', monospace;
	font-size : 14px;
	white-space : pre;
	border-left : 6px solid green;
	padding-left : 8px;
	margin-top : 15px;
	margin-bottom : 15px;
}

.list 
{
	color : white;
	font-family: 'Oswald', sans-serif;
	margin-left : 10px;
	margin-bottom : 40px;
}

.list:hover
{
	color : #ff9d00;
	font-family: 'Oswald', sans-serif;
	margin-left : 10px;
}

.plan
{
	background-color : #696969;
	border-left : 8px solid #ff9d00;
	margin-bottom : 10px;
}

a{ 
    text-decoration: none;
 } 


