@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
	margin : 0px;
	padding : 0px;
}

body 
{
  background :white;
}

header {
	background-color : #212121;
	border-bottom : 8px solid #ff9d00;
	padding-left : 40px;
	
}

.menu 
{
	font-family: 'Ubuntu', sans-serif;
	color : white;
	font-size: 40px;
	margin : 20px;
	margin-left:15%;
}

.main 
{
	margin-left: 15%;
	margin-right: 15%;
    width: 70%;
	padding: 20px;
	background-color : #e8e8e8;
}

h1 
{
	font-family: 'Ubuntu', sans-serif;
	font-size:28px;
	margin-bottom:4px;
	color : black;
	background-color : #4a4a4a;
	color : white;
	border-bottom: 4px solid white;
}

p 
{
	font-family: 'Ubuntu', sans-serif;
	font-size:23px;
	color : black;
}

h1::first-letter {
  color : #ff9d00;
}

img 
{
	float:left;
    margin: 7px 7px 7px 7px;
	border-radius : 20px;
	transition: all 0.5s ease-out;
	border:2px solid #4a4a4a;
}

a{ 
    text-decoration: none;
 } 

